
html {
  background: #EEE url('/gfx/texturedgray.gif') repeat scroll 0 0;
}

#content {
  padding-bottom: 20px;
}

#content .fixed-width {
  border: 1px solid #EEE;
  background-color: #FFF;
  padding: 0 20px;
  width: 960px;
  margin: 20px auto;
}

#content h1 {
  font-size: 2em;
}

#content h2 {
  font-size: 1.6em;
  color: #666;
}

#content h3 {
  font-size: 1.3em;
  color: #888;
}

#content h1,
#content h2,
#content h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
  margin: 0.5em 0;
}

#content .toc ul {
  background-color: transparent;
  border: 0;
  margin-bottom: 1em;
}

#content p,
#content ul,
#content ol {
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
}

#content ul li {
  list-style-type: circle;
  margin-left: 1.5em;
}

#content ol li {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 0.3em;
}

#content .mdlist,
#content p {
  line-height: 1.4em;
  margin: 1em 0;
}

#content ul,
#content ol {
  padding-left: 20px;
}

#content .authors {
  float: right;
  color: #888;
  margin-bottom: 20px;
}

#content .authors .author {
  display: block;
  text-align: right;
}

#content .image p,
#content .image-inline p {
  background-color: transparent;
  padding: 0;
  border: none;
  text-align: center;
}

#content .image-inline {
  float: left;
  text-align: left;
  margin-right: 10px;
}

#content .image p img,
#content .image-inline p img {
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #EEE;
}

#content em {
  font-style: italic;
}

#content strong {
  font-family: 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}

#content .naviblock {
  background: #EEE url('/gfx/angledgradientred.gif') repeat scroll 0 0;
}

#content .infoblock {
  background: #EEE url('/gfx/angledgradientgreen.gif') repeat scroll 0 0;
}

#content .naviblock,
#content .infoblock {
  padding: 10px;
  padding-bottom: 1px;
  margin-bottom: 20px;
}

#content .naviblock p,
#content .infoblock p {
  margin-top: 0;
  padding: 10px 10px;
}

#content .naviblock .navi,
#content .infoblock .navi {
  font-size: 2em;
  color: #000;
  background-color: #FFF;
  display: inline;
  padding: 1px 10px;
  border: 1px solid #EEE;
  border-bottom: 1px solid #FFF;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}

#content .naviblock .syntaxhighlighter,
#content .infoblock .syntaxhighlighter {
  background-color: #fff !important;
  padding: 20px !important;
}

#content .source {
  text-align: right;
  padding: 5px;
}

#content .video {
  text-align: center;
  margin-bottom: 20px;
}

#content .permalink {
  text-align: right;
}

#content blockquote {
  margin: 1em 40px;
}

/* This mimics GitHub's code style so people feel at home :) */
#content code {
  background-color: #F8F8FF;
  border: 1px solid #DEDEDE;
  padding: 0px 0.2em;
  white-space:nowrap;
}

#content pre {
  padding: 1em;
  line-height: 1.5em;
  margin-bottom: 1em;
}

#content code,
#content pre {
  /* Font-family set borrowed from StackOverflow; their font selection is delicious! */
  font-family: Consolas,Monaco,"Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New";
  font-size: 0.8em !important;
}
