
html {
  background: #EEE url('/gfx/texturedgray.gif') repeat scroll 0 0;
}

#content h1 {
  font-size: 4em;
  margin-bottom: 0.2em;
}

#content h1,
#content h2,
#content h3 {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}

#content p,
#content ul {
  font-size: 1.3em;
}

#content .horizontal-bar {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  background-color: #EEE;
  padding: 20px;
}

#content .horizontal-bar .links {
  text-align: center;
  font-size: 2em;
}

#content .profile {
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #DDD;
  background-color: #FFF;
  float: left;
}

#content .name {
  font-size: 2em;
  text-align: center;
}

#content .role {
  font-size: 1.3em;
  text-align: center;
  color: #888;
  margin-bottom: 0.3em;
}

#content .twitter,
#content .github {
  font-size: 1.3em;
  text-align: center;
}
