
#toc .box {
  background-color: #FFF;
  border: 1px solid #F0F0F0;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  max-width: 200px;
}

#toc .box .title {
  background: #F8F8F8;
  padding: 5px;
  font-size: 14px;
  color: #999;
}

#toc .box ul {
  padding: 0;
  border: none;
}

#toc .box li {
  list-style: none;
  border-top: 1px solid #F0F0F0;
  margin: 0;
}

#toc .box a {
  color: #0054A6;
  text-decoration: none;
  font-size: 14px;
  padding: 5px;
  display: block;
}

#toc .box a:hover {
  cursor: pointer;
  background-color: ghostWhite;
}
