
#toc .box {
  background-color: #FFF;
  border: 1px solid #EEE;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#toc .box .title {
  background: #F8F8F8;
  padding: 10px;
  font-size: 1.5em;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;;
}

#toc .box ul {
  padding: 0;
  border: none;
}

#toc .box li {
  list-style: none;
  border-top: 1px solid #EEE;
  margin: 0;
}

#toc .box a {
  color: #0054a6;
  text-decoration: none;
  font-size: 1em;
  padding: 10px;
  display: block;
}

#toc .box a:visited {
  color: #66A;
}

#toc .box a:hover {
  cursor: pointer;
  background-color: #acd6ff;
  color: #FFF;
}
