#content .appstore p {
  background-color: white;
  border: 1px solid #eee;
  padding: 20px;
}

#content .appstore {
  float: right;
  margin-left: 20px;
}

#applist {
  padding-right: 0;
  padding-top: 0;
  width: 960px;
  margin: 0 auto;
}

#content .artwork {
  display: block;
  position: relative;
  width: 90px;
  height: 130px;
  float: left;
  text-align: center;
  margin-right: 16px;
  margin-bottom: 5px;
}

#content .artwork img {
  position: relative;
  z-index: 0;
  border: 1px solid white;
  height: 60px;
  width: 60px;
  left: 15px;
}

#content .artwork .mask {
  background: url(/gfx/gallery/mask60.png) no-repeat 0px 0px;
  display: block;
  position: absolute;
  left: 15px;
  top: 0px;
  z-index: 1;
  height: 63px;
  width: 62px;
}

#content .image-inline {
  margin-right: 0;
}

#content .image-inline p img {
  padding: 5px;
  border-right: 0;
}
