
.fixed-width {
  width: 800px;
  margin: 0 auto;
}

#kohana-profiler {
  overflow: auto;
}

#content a {
  text-decoration: none;
  color: #0054a6;
}

#content a:hover {
  text-decoration: underline;
  cursor: pointer;
}
