
.fixed-width {
  width: 800px;
  margin: 0 auto;
}

#kohana-profiler {
  overflow: auto;
}

a {
  text-decoration: none;
}

#content a {
  color: #0054a6;
}

#content a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clearfix {
  clear: both;
}

#content .horizontal-bar {
  text-align: center;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #FFF;
  border: 1px solid #EEE;
}

#content .horizontal-bar p {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 2em;
}

.banner-notification {
  background-color: #d6ecff;
  padding: 20px;
  margin-bottom: 10px;
  display: block;
}

.banner-notification:hover {
  background-color: #8badcb;
}

.banner-notification:hover .banner-content {
  color: #fff;
}

.banner-notification .banner-content {
  font-size: 1em;
  color: #333;
  text-align: center;
}

.banner-notification strong {
  font-weight: bold;
}
