
.grid {
  border: 1px solid #EEE;
  background-color: #FFF;
  width: 720px;
  margin: 0 40px;
  border-bottom: 0;
  border-right: 0;
  margin-bottom: 20px;
}

#content .grid .subtext {
  font-size: 0.6em;
}

.grid .row {
  clear: left;
  width: 720px;
  border-bottom: 1px solid #EEE;
}

.grid .col-1,
.grid .col-2,
.grid .col-3,
.grid .col-4 {
  float: left;
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px 0;
  border-right: 1px solid #eee;
}

#content .grid a:hover {
  background-color: #8badcb;
  color: #fff;
  text-decoration: none;
}

#content .grid .subtext a:hover {
  background-color: transparent;
  color: #0054a6;
  text-decoration: underline;
}

.grid .col-1 {
  width: 719px;
}

.grid .col-2 {
  width: 359px;
}

.grid .col-3 {
  width: 239px;
}

.grid .col-4 {
  width: 179px;
}
