
#header {
  background-color: #EEE;
  padding: 1em;
  height: 4.3em;
  margin-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

#header .right-links {
  float: right;
  margin-bottom: 5px;
  clear: both;
}

#header .left-links li {
  float: left;
}

#header .right-links li {
  display: inline;
  padding-left: 20px;
}

#header .left-links li,
#header .right-links li {
}

#header .right-links a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-size: 0.8em;
}

#header .right-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#header h1 a,
#header h2 a {
  color: #333;
}

#header .leadin h1 {
  font-size: 2em;
}

#header .leadin h2 {
  color: #333;
  font-size: 1.3em;
}

#header .leadin h1,
#header .leadin h2,
#navbar .text {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}
