
#header {
  background: transparent url('/gfx/gradient.gif') repeat-x scroll 0px 0px;
  color: #FFF;
}

#header .leadin {
  padding-bottom: 20px;
}

#header .leadin h1 {
  color: #333;
  padding-top: 10px;
  font-size: 6.2em;
}

#header .leadin h2 {
  color: #0054a6;
  font-size: 2.3em;
}

#header .leadin h1,
#header .leadin h2,
#navbar .text {
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}

#header .leadin strong {
  color: #FFF;
}

.horizontal-bar {
  height: 200px;
  background-color: #FFF;
  overflow: hidden;
}

#navbar .content {
  height: 200px;
  background: transparent url('/gfx/iphone.png') no-repeat scroll 0px 70px;
}

#navbar .text {
  padding-top: 30px;
  margin-left: 500px;
  font-size: 2.3em;
  color: #333;
}

#navbar .text strong {
  color: #0054a6;
}

#content {
  background: transparent url('/gfx/texturedblue.gif') repeat-x scroll 0 0;
  padding-top: 35px;
}

#content .areas .box {
  float: left;
  border: 1px solid #EEE;
  background: #EFE url('/gfx/texturedgray.gif') repeat scroll 0 0;
  margin-left: 10px;
  padding: 20px;
  width: 215px;
  height: 100px;
  text-decoration: none;
  color: #888;
}

#content .areas .box:hover {
  color: #000;
  border: 1px solid #AAA;
}

#content .areas .important-box {
  margin-left: 0px;
  background: #EFE url('/gfx/texturedgreen.gif') repeat scroll 0 0;
  border: 1px solid #DED;
  color: #666;
}

#content .areas .box h1 {
  font-size: 1.5em;
}

#content .areas .box h2 {
  font-size: 0.95em;
}

#content .news h1 {
  font-size: 5em;
  color: #333;
}
