/**
 * Reset css
 */

html {
  color:#000;
  background:#FFF;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;

  font:13px/1.231 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
  *font-size:small;
  *font:x-small;
}

html, body {
  height: 100%;
}

table {
  border-collapse:collapse;
  border-spacing:0;

  font-size:inherit;
  font:100%;
}

fieldset,img {
  border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}

li {
  list-style:none;
}

caption,th {
  text-align:left;
}

h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}

q:before,q:after {
  content:'';
}

abbr,acronym {
  border:0;
  font-variant:normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align:text-top;
}

sub {
  vertical-align:text-bottom;
}

input,textarea,select {
  font-family:inherit;
  font-size:inherit;
  font-weight:inherit;
}

/*to enable resizing for IE*/
input,textarea,select {
  *font-size:100%;
}

/*because legend doesn't inherit in IE */
legend {
  color:#000;
}

del,ins {
  text-decoration:none;
}

select,input,button,textarea {
  font:99% 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica,clean,sans-serif;
}

pre,code,kbd,samp,tt {
  font-family:monospace;
  *font-size:108%;
  line-height:100%;
  overflow: auto;
}