<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta property="fb:app_id" content="114720825217072"/>
  <meta property="fb:admins" content="122605446"/>
  <meta property="og:title" content="three20.info"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://three20.info/"/>
  <meta property="og:image" content="http://github.com/facebook/three20/raw/master/samples/Resources/Icon.png"/>
  <meta name="keywords" content="three20 iPhone api open source library uikit tt" />
  <meta name="description" content="API documentation, articles, and tutorials related to the three20 iPhone library." />
  <title><?php echo html::specialchars($title) ?></title>
<?
  echo three20html::stylesheet(array(
    'css/reset',
    'css/global.css',
  ), null, FALSE);
  echo three20html::stylesheet($css_files, null, FALSE);
  echo three20html::script($js_head_files, FALSE);
  echo three20html::inlinescript($js_head_scripts);
?>

>>fbconnect<<

</head>
<body>

<div id="page-wrapper">

<!-- HEADER -->

<div id="header">
<div class="fixed-width">

>>rightlinks<<

>>fbheader<<

>>leadin<<

</div> <!-- .fixed-width -->
</div> <!-- #header -->

>>latestnews<<

<?php echo $content ?>

</div> <!-- #page-wrapper -->

<?
echo three20html::script($js_foot_files, FALSE);
?>

<?php if (IN_PRODUCTION): ?>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19295672-1']);
  _gaq.push(['_setDomainName', '.three20.info']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<?php endif ?>

</body>
</html>
