<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta property="fb:app_id" content="114720825217072"/>
  <meta property="fb:admins" content="122605446"/>
  <meta property="og:title" content="three20.info"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://three20.info/"/>
  <meta property="og:image" content="http://github.com/facebook/three20/raw/master/samples/Resources/Icon.png"/>
  <meta name="keywords" content="three20 iPhone api open source library uikit tt" />
  <meta name="description" content="API documentation, articles, and tutorials related to the three20 iPhone library." />
  <title><?php echo html::specialchars($title) ?></title>
<?
  echo three20html::stylesheet(array(
    'css/reset',
    'css/global.css',
    'css/shCore.css',
    'css/shTheme.css',
  ), null, FALSE);
  echo three20html::script(array(
    'js/shCore.js',
    'js/shBrushObjC.js',
    'js/shBrushBash.js'
  ), FALSE);
  echo three20html::stylesheet($css_files, null, FALSE);
  echo three20html::inlinescript('
  SyntaxHighlighter.defaults.light = true;
  SyntaxHighlighter.defaults[\'tab-size\'] = 2;
  SyntaxHighlighter.defaults[\'auto-links\'] = false;
  SyntaxHighlighter.defaults.toolbar = false;
  SyntaxHighlighter.all();');
  echo three20html::script($js_head_files, FALSE);
  echo three20html::inlinescript($js_head_scripts);
?>

</head>
<body>

<div id="page-wrapper">

<!-- HEADER -->

<div id="header">
<div class="fixed-width">

>>rightlinks<<

>>fbheader<<

>>leadin<<

</div> <!-- .fixed-width -->
</div> <!-- #header -->

>>latestnews<<

<div id="article-wrapper">
<div class="fixed-width">

>>toc<<

<?php echo $content ?>

</div> <!-- #page-wrapper -->

</div> <!-- .fixed-width -->
</div> <!-- #article-wrapper -->

<?
echo three20html::script($js_foot_files, FALSE);
?>

>>analytics<<

</body>
</html>
